In [5]:
import MultiTrain
MultiTrain.__version__

'0.11.21'

In [6]:
import pandas as pd
from MultiTrain import MultiRegressor

In [7]:
df = pd.read_csv("datasets/Housing.csv")

In [8]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [14]:
#No missing value
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [ ]:
features = df.drop("nameOflabelcolumn", axis = 1)
labels = df["nameOflabelcolumn"]

split = train.split(X=features, 
                    y=labels, 
                    sizeOfTest=0.3, 
                    randomState=42)

In [10]:
# Use only numeric values
features = df.select_dtypes('int').drop('price', axis=1)
target = df.price

In [16]:
train_reg = MultiRegressor(cores=-1, #this parameter works exactly the same as setting n_jobs to -1, this uses all the cpu cores to make training faster
                       random_state=42, #setting random state here automatically sets a unified random state across function imports
                       verbose=True #set this to True to display the name of the estimators being fitted at a particular time
                      )

In [ ]:
split = train.split(X=features,
                    y=targe,
                    sizeOfTest=0.2,
                    randomState=42,
                    shuffle_data=True)

fitted_reg = train.fit(splitting=True,
                split_data=split,
                show_train_score=True,
                excel=True)